In [1]:
import pandas as dinu

In [2]:
dinu.__version__

'1.5.2'

In [3]:
a1=dinu.Series(['one',1,2,3,4,],index=[0,1,2,3,5])

In [4]:
print(a1)

0    one
1      1
2      2
3      3
5      4
dtype: object

In [5]:
season={"rainy":{1:'nov',2:'dec',3:'jan',4:'feb'},"dry":{1:'mar',2:'apr',3:'may',4:'jun'}}

In [6]:
d=dinu.DataFrame(season,columns=["rainy","dry"])

In [7]:
d

  rainy  dry
1   nov  mar
2   dec  apr
3   jan  may
4   feb  jun

In [10]:
import numpy as dhinu

In [11]:
a=dinu.DataFrame(dhinu.random.randint(0,300,size=(12,6)),columns=list(('abcdef')))

In [12]:
print(a)

      a    b    c    d    e    f
0   286  189  229   21  215  198
1   235   94  275  264  172   80
2   187  195  173  158  100  140
3   151  108   35   32  127  263
4    87   25   99  270    7  219
5    89  273  293   14   46  291
6    68  130   29  148  150   29
7    83   78   35  150  282  287
8   296  105  165  178  176    8
9   113  241  161  213    6   71
10  201   88   27  171   85  281
11  212   62  190  267  295  118

In [13]:
a.to_csv("D:\pandas.csv")

In [14]:
a.to_csv("D:\pandas.csv")

In [18]:
d=dinu.read_csv("D:\pandas.csv")

In [19]:
print(d)

    Unnamed: 0    a    b    c    d    e    f
0            0  286  189  229   21  215  198
1            1  235   94  275  264  172   80
2            2  187  195  173  158  100  140
3            3  151  108   35   32  127  263
4            4   87   25   99  270    7  219
5            5   89  273  293   14   46  291
6            6   68  130   29  148  150   29
7            7   83   78   35  150  282  287
8            8  296  105  165  178  176    8
9            9  113  241  161  213    6   71
10          10  201   88   27  171   85  281
11          11  212   62  190  267  295  118

In [28]:
d.drop("Unnamed: 0",axis=1)

      a    b    c    d    e    f
0   286  189  229   21  215  198
1   235   94  275  264  172   80
2   187  195  173  158  100  140
3   151  108   35   32  127  263
4    87   25   99  270    7  219
5    89  273  293   14   46  291
6    68  130   29  148  150   29
7    83   78   35  150  282  287
8   296  105  165  178  176    8
9   113  241  161  213    6   71
10  201   88   27  171   85  281
11  212   62  190  267  295  118

In [29]:
d.shape

(12, 7)

In [30]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  12 non-null     int64
 1   a           12 non-null     int64
 2   b           12 non-null     int64
 3   c           12 non-null     int64
 4   d           12 non-null     int64
 5   e           12 non-null     int64
 6   f           12 non-null     int64
dtypes: int64(7)
memory usage: 800.0 bytes